<%= form_with model: @kitten, class: "my-8 flex flex-col bg-cyan-50/50 border rounded max-w-xl min-w-80 py-5 px-4" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :softness %>
  <%= f.number_field :softness %>
  <%= f.label :cuteness %>
  <%= f.number_field :cuteness %>
  <div class="flex justify-between">
    <%= f.submit class: "mt-2 btn-primary-md" %>
    <% if request.path == edit_kitten_path %>
      <%= button_to "Show", kitten_path(@kitten), class: "mt-2 btn-primary-md" %>
    <% end %>
  </div>
<% end %>