<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="">
      <nav class="">
        <% unless request.path == root_path %>
          <%= link_to 'All Kittens', kittens_path, class: "link" %>
        <% end %>
        <% unless request.path == new_kitten_path %>
          <%= link_to 'New Kitten', new_kitten_path, class: "link" %>
        <% end %>
      </nav>  
    </div>
    
    <div class='flash'>
      <p class='alert'><%= alert %></p>
      <p class='notice'><%= notice %></p>
    </div>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
