<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="">
      <nav class="">
        <% unless controller_name == 'kittens' && action_name == 'index' %>
          <%= link_to 'All Kittens', kittens_path, class: "link" %>
        <% end %>

        <% if controller_name == 'kittens' && action_name == 'show' %>
          <% unless action_name == 'edit' %>
            <%= link_to 'Edit Kitten', edit_kitten_path(@kitten), class: "link" %>
          <% end %>
          <%= link_to 'Back to List', kittens_path, class: "link" %>
        <% end %>
      </nav>  
    </div>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
